
* {
    padding: 0;
    margin: 0;
}

p {
    font-size: larger;
}

h1, h2 {
    font-weight: normal;
}

.container {
    display: block;
}

#navigation_bar.container {
    color: rgb(186, 205, 60);
    background-color: rgb(15, 49, 65);
    width: 100vw;
    height: 60px;
}

#navigation_bar.container > .row1 {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation_bar.container > .row1 h2 {
    margin: 5px;
    color: rgb(186, 205, 60);
    cursor: pointer;
}

#navigation_bar.container a{
    text-decoration: none;
}

#home.container {
    background-color: rgb(30, 153, 210);
    width: 100vw;
    height: 80vh;
    min-height: 440px;
}

#home.container > .row1 {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    align-items: center;
}

#home.container > .row1 h2{
    text-align: center;
}

#left {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left > * {
    margin: 40px;
}

#right {
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right img {
    margin: 40px;
    max-width: 400px;
}

#homeLet {
    color: antiquewhite;
    font-size: 27px;
}

#homeButton {
    color:black;
    background-color: antiquewhite;
}

#startButton {
    color:antiquewhite;
    background-color: rgb(15, 49, 65);
}

.button {
   width: 200px;
   height: 70px;
   display: flex;
    align-items: center;
    justify-content: center;   
    
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

.button > h2 {
    margin-left: 10px;
}

.rotateImg {
    size: 50px;
    width: 50px;
    height: 50px;
}

#about.container {
    width: 100vw;
    min-height: fit-content;
    background-color:antiquewhite;
}

#about.container > .row1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about.container > .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about.container > .row3 {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

#about.container > .row1 h1 {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about.container > .row2 p {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about.container > .row3 p {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#how.container {
    width: 100vw;
    height: fit-content;
    background-color:aquamarine;
}

#how.container > .row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    padding-top: 50px;
}

#how.container > .row2 {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
    justify-items: center;
    height: fit-content;

}

.card {
    background-color:rgb(15, 49, 65);
    width:90%;
    height:initial;
    margin-bottom: 50px;
    padding-bottom: 200px;

    display: flex;
    flex-direction: column;

}

.card > p {
    padding: 10px;
    background-color: antiquewhite;
    position:relative;
    top: 200px;
    text-align: center;
}

.picture {
    height: 200px;
    position:relative;
    top: 100px;
    align-self: center;
}

#start.container {
    background-color:antiquewhite;
    width: 100vw;
    height:fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

#start.container > .column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#copyright.container {
    background-color:rgb(15, 49, 65);
    width: 100vw;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;

    color:antiquewhite;
}

#copyright.container > .column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    font-size: x-small;
}

#github {
    color: antiquewhite;
}

#goToTop {
    cursor: pointer;
    height: 50px;
    visibility: hidden;

    position: fixed;
    bottom: 1em;
    right: 1em;

}

@media (max-width: 900px) {
    #right img {
        max-width: 100%;
    }

    #how.container>.row2 {
        grid-template-columns: 1fr 1fr;
    }
    
    #how.container>.row2 #pic1 {
        grid-column: 1;
    }
    
    #how.container>.row2 #pic2 {
        grid-column: 2;
    }
    
    #how.container>.row2 #pic3 {
        grid-row: 2;
        grid-column: 1 / 3;
    }
}

@media(max-width: 650px) {
    #navigation_bar.container > .row1{
        justify-content: space-between;
    }

    #home.container > .row1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #home.container {
        height: fit-content;      
    }

    #right img {
        max-width: 300px;
    }

    #about.container > .row2 {
        grid-template-columns: 1fr;
    }

    #how.container > .row2 {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
}